.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  width: 100vd;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 2.5rem;
  max-width: 90vh;
  margin: 1rem auto;
}

.navbar {
  overflow: hidden;
  background-color: #580980;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #160220;
  color: white;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.search-bar input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: rgba(255, 255, 255, 0.15);
}

.search-bar .add-playlist-btn img {
  width: 2rem;
}

.splitter {
  height: 1px;
  width: 90%;
  margin: 1rem auto;
  background: #FFFFFF;
}

.playlist-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.playlist-list .playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist-list .playlist > * {
  padding: .2rem .4rem;
}

.playlist-list .playlist .playlist-img {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
}

.playlist-list .playlist .playlist-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.playlist-list .playlist .playlist-details .playlist-name {
  font-size: 20px;
}

.playlist-list .playlist .playlist-details .playlist-author {
  font-size: 16px;
}

.playlist-list .playlist .playlist-buttons .icon-btn img {
  height: 1.25rem;
  width: 1.25rem;
}

@media (min-width: 1200px) {
  .navbar {
    display: none;
  }
}
/*# sourceMappingURL=playlists.css.map */