$primary: #580980;
$secondary: #e86a4d;
$red: #b82f4d;
$colors: (
	'primary': #580980,
	'secondary': #e86a4d,
	'red': #b82f4d,
);

@each $name, $color in $colors {
	.bg-#{$name} {
		background: $color;
	}

	.text-#{$name} {
		color: $color;
	}

	.btn-#{$name} {
		background: $color;

		&:hover {
			background: lighten($color, 5%);
		}

		&:active {
			background: darken($color, 10%);
		}
	}
}
